# Binaries
*.exe

# Compressed files
*.gz
*.tar
*.zip
*.tgz

# Data files
data/*bsc5*

# Build directories
build/
build_coverage/

# Coverage reports
coverage/

# macOS system files
.DS_Store

# Log files
log/

# Local libraries
deps/
